<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.pwr.s249317.manager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Organizer">
        <activity android:name="pl.edu.pwr.s249317.manager.TookMedicationActivity"></activity>
        <activity android:name="pl.edu.pwr.s249317.manager.YourMedicationActivity" />
        <activity android:name="pl.edu.pwr.s249317.manager.NewMedicationActivity" />
        <activity android:name="pl.edu.pwr.s249317.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="pl.edu.pwr.s249317.manager.Broadcaster" />
    </application>

</manifest>